body {
  background-image: url("https://www.wallpaperflare.com/static/635/404/837/space-universe-nebula-star-wallpaper-preview.jpg");
  background-size: 100% 100%; 
  padding: 0px;
  margin: 0px;
}

.navtop {
  width:100%;
  height: 30px;
  background-color: #ff308f;
  position:fixed;
}

.content {
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color: #8ca7b7;
  min-height: 90%;
  max-width: 40%;
  min-width: 326px;
}

  
  
