body {
  background-image: url("https://www.wallpaperflare.com/static/635/404/837/space-universe-nebula-star-wallpaper-preview.jpg");
  background-size: 100% 100%;  
}

.navtop {
  width:100%;
  height: 10%;
  margin:0px;
  background-color: #ff308f;
  position:fixed;
}

.content {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color:#ffffff;
  height: 90%;
  width: 40%;
  min-width: 320 px;
}

  
  
