body {
  background-image: url("https://previews.123rf.com/images/astromoali/astromoali1904/astromoali190400472/127537905-abstract-artistic-pink-galaxy-with-bright-stars-in-a-space-background.jpg")
}
